<html>

<head>
    <title>Home Page</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>

</head>

<body>


    <div class="container" align="center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Product Details : {{product.productName}}</strong></h3>
            </div>

            <div class="panel-footer ">
                <form ng-show="details">
                    <p>Name : {{product.productName}}</p>
                    <p>Code : {{product.productCode}}</p>
                    <p>Desciption : {{product.description}}</p>
                    <p>Availability : {{product.releaseDate}}</p>
                    <p>Price : {{product.price}}</p>
                    <p>5 Star Rating : <input class="rating rating-loading" value="{{product.starRating}}" data-min="0" data-max="5" data-step="0.5" data-size="xs"></p>

                    <br><br>
                    <img ng-src="{{product.imageUrl}}" height="100px" class="image">
                    <br><br>
                </form>
                <button><a ng-click="back()" href="#/product">Back</a></button>

            </div>

        </div>


</body>

</html>