<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom filter</title>
</head>

<body ng-app="myMod">
    <div ng-controller="myController">
        <h1>Original Table</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.gender }}</td>
                </tr>
            </tbody>
        </table>
        <h1>After Filter</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.gender | gender}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="angular.js"></script>
    <script src="customFilter.js"></script>
</body>

</html>