<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Async Service</title>
</head>

<body ng-app="myApp" ng-controller="myController">

    <label>No : </label>
    <input type="number" ng-model="no">
    <button ng-click="checkEvenNo()">Check If Even</button>
    <br>{{result}}
    <script src="angular.js"></script>
    <script src="asyncService.js"></script>
</body>

</html>