<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <style>
        span.done-true {
            color: gray;
            font-style: italic;
            text-decoration: line-through;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body class="jumbotron jumbotron-fluid" ng-app="myApp" ng-controller="myController" style="background-color:darkorange;">
    <h1 class="text-primary" style="text-align: center;">Add Task</h1>
    <input placeholder="Enter your task here.." class="form-control" ng-model="task" ng-keyup="searchEnter()" type="text" style="display: block;margin: 0 auto;
    padding: 5px; font-size:15px ; width: 300px;">
    <br><br>
    <div id="tasksToShow">
        <ul class="list-group">
            <li ng-repeat="task1 in tasks" class="list-group-item list-group-item-success">
                <p>
                    <span class="done-{{task1.status}}" ng-model=" task1 ">
                        {{task1}}
                        <input  type="checkbox" ng-model="task1.status ">
                        
                        
                    </span>
                </p>


            </li>
        </ul>
    </div>
    <script src="angular.js "></script>
    <script src="index.js "></script>
    <script src="moment.js "></script>
</body>

</html>